.register-form__heading{
    margin-top: 5%;
    margin-left: 47%;
}

.form__group{
    margin-left: 30%;
    margin-top: 20px;
}

.form__label--item{
    font-weight: bold;
}

.text{
    width: 60%;
    height: 40px;
}

.form__button-submit{
    border: none;
    border-radius: 3px;

    margin-left: 30%;
    margin-top: 80px;
    width: 42%;
    height: 40px;

    color: white;
    background: rgb(253, 54, 74);
}

.login__link{
    margin-top: 20px;
}

.login__button-submit{
    margin-left: 47%;

    text-decoration: none;

    color: blue;
}